# Gmail account used to send contact form mail
EMAIL_USER=

# Gmail app password (https://support.google.com/accounts/answer/185833)
EMAIL_PASS=

# Address that receives contact form submissions
RECIPIENT_EMAIL=
